html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.container {
    padding: 0;
}

.suit-red {
    color: red;
}

.suit-black {
    color: black;
}

.playing-card {
    white-space: nowrap;
    font-size: 1.8em;
    padding: 0 0.5em;
}

.playing-card i.material-icons {
    float: right;
    line-height: 1.5em;
}

.navbar {
    background-color: #e9ff5e;
    color: black;
}

.navbar h1 {
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
}

.navbar-icon {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.navbar-icon a {
    color: black;
    display: none;
}

.navbar-icon i.unavailable {
    display: none;
}

.navbar-icon-right {
    text-align: right;
}

.navbar .link-pad {
    margin-right: 0.5em;
}

.cards {
    margin-top: 1em;
    padding-bottom: 1vw;
    border-bottom: 1px solid silver;
}

.controls {
}

.timer {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

.drawn-cards {
    text-align: center;
}

.drawn-cards img {
    width: 50%;
    margin-right: 1%;
    margin-left: -30%;
}

.drawn-cards .card-done {
    margin-top: 40px;
    position: relative;
    text-align: center;
}

.drawn-cards .card-done img {
    width: 30%;
    margin-left: 0;
}

.drawn-cards .card-done span {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    font-size: 3.5em;
    text-shadow: 2px 2px black;
    font-weight: bold;
}

.drawn-cards img:first-child {
    margin-left: 0;
}

.drawn-cards img:last-child {
    margin-right: 0;
}

.draw-one img {
    width: 50%;
    margin: 0;
}

.first-joker img:first-child {
    margin-bottom: 12%;
    margin-right: -20%;
}

.progress-bar {
    width: 100%;
    height: 10px;
    display: block;
    clear: both;
}

.progress-progress {
    height: 10px;
    width: 0%;
    background-color: #ffe52b;
    float: left;
}

.progress-last {
    float: left;
    background-color: #70e224;
}

.progress-next {
    background-color: white;
    border: 1px solid #70e224;
}

.hide-link {
    display: none;
}

.navbar-icon a.show-link {
    display: inline;
}

.form-radio {
    display: block;
}

#exercise-selector .form-label {
    font-weight: bold;
}

.padbox {
    padding: 1em;
}

.summary-wrap {
  margin: 0 auto;
  width: 80%;
}

.summary-wrap h3 {
  margin: 0.5em 0 0.5em 0;
  border-bottom: 1px solid black;
  font-size: 1.3em;
}

.summary-wrap span.suit {
  font-size: 1.5em;
  line-height: 1.2em;
  display: inline-block;
  width: 1.5em;
}

.hide-login-button {
  display: none !important;
}

.login-column {
  text-align: center;
  padding: 15px;
}

.workout-row {
  display: table;
  clear: both;
  border-bottom: 1px solid silver;
}

.workout-row-created {
  font-size: 1.2em;
}

.workout-cell {
  display: table-cell;
}

.workout-cell-expand {
  width: 100%;
}

.workout-row-time {
  display: table-cell;
  font-size: 2em;
}

.workout-row-exercises div {

}

.workout-row-exercises div span {

}
